.products__btn {
    display: inline-block;
    padding: 1.5625rem 3.125rem;
    margin: 2.5rem 0rem .625rem;
    border-radius: 4px;
    background-color: #1b1b1d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    transition: all 0.5s;
    cursor: pointer;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    a{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    a:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        transition: 0.5s;
    }
}

.products__btn:hover a {
    padding-right: 15px;
}

.products__btn:hover a:after {
    opacity: 1;
    right: 0;
}