@use "/src/styles/mixins.scss";

.section{
    @include mixins.flex(flex, column, nowrap, center, center);
    height: auto;
    padding: 2em;
    @include mixins.mq(960px){
        padding: 1rem;
    }
    @include mixins.mq(480px){
        padding: .5rem;
    }
}

.section--white-bg{
    background-color: white;
}

.section--black-bg{
    background-color: black;
}

.section__title{
    font-size: 2em;
    margin: .625rem 0rem 0rem;
    text-align: center;
    @include mixins.mq(768px){
        font-size: 2em;
    }
    @include mixins.mq(480px){
        font-size: 1.5em;
    }
    @include mixins.mq(320px){
        font-size: 1.25em;
    }
}

.text-color--white-bg{
    color: black;
}

.text-color--black-bg{
    color: white;
}

.section__description{
    text-align: center;
    font-size: 1em;
    margin: 1.25rem 0rem;
    @include mixins.mq(960px){
        max-width: 37.5rem;
    }
    @include mixins.mq(480px){
        font-size: .8em;
    }
}
